=rounded(!radius = 8px)
  :-webkit-border-radius = !radius
  :-moz-border-radius = !radius

=rounded-top(!radius = 14px)
  :-webkit-border-top-left-radius = !radius
  :-webkit-border-top-right-radius = !radius

=rounded-bottom(!radius = 14px)
  :-webkit-border-bottom-left-radius = !radius
  :-webkit-border-bottom-right-radius = !radius

=rounded-left(!radius = 14px)
  :-webkit-border-top-left-radius = !radius
  :-webkit-border-bottom-left-radius = !radius

=rounded-right(!radius = 14px)
  :-webkit-border-top-right-radius = !radius
  :-webkit-border-bottom-right-radius = !radius

=box-shadow(!distance = 1px, !radius = 5px, !color = 32, !alpha = 0.6)
  :-webkit-box-shadow = 0px !distance !radius rgba(!color, !color, !color, !alpha)

=box-bezel(!color = rgba(0, 0, 0, 0.4))
  :border = 1px "solid" !color
  :-webkit-box-shadow = 0px 1px 1px rgba(255, 255, 255, 0.4)

=background-gradient(!from = #b0bccd, !to = #6d84a2)
  :background = "-webkit-gradient(""linear", 0% 0%, 0% 100%, from(!from), to(!to)")"

=shiney-background-gradient(!from = #8ea4c1, !shine = #5777a2, !base = #476999, !to = #4a6c9b)
  :background = "-webkit-gradient(""linear", 0% 0%, 0% 100%, from(!from), to(!to), "color-stop("0.5, !shine")", "color-stop("0.5, !base")"")"

=light-shadowed-text
  :text-shadow 0px -1px 2px rgba(0, 0, 0, 1.0)
  :color #fff

=light-bezeled-text(!color = #fff, !shadow = #555)
  :text-shadow = 0px -1px 0px !shadow
  :color = !color
  :text-align center

=dark-bezeled-text(!color = #333, !shadow = #fff)
  :text-shadow = 0px 1px 0px !shadow
  :color = !color
  :text-align center

=min-rect(!width = 120px, !height = 160px)
  :min-width = !width
  :min-height = !height

=rect(!width = 320px, !height = 480px)
  :width = !width
  :height = !height

=frame(!top = 0, !right = 0, !bottom = 0, !left = 0)
  :top = !top
  :right = !right
  :bottom = !bottom
  :left = !left

body
  font-family: Helvetica
  font-size: 14pt
  font-weight: normal


div
  padding: 0
  margin: 0


h1
  font-size: 130%

/* Interface styling */


#inspector, #toolbar
  :position fixed

#inspector
  +rounded(12px)
  +box-shadow(2px, 6px)
  +min-rect(120px, 20px)
  :background-color rgba(0, 0, 0, 0.7)
  :z-index 100
  :right 10px
  :top 10px
  :padding 10px 12px 14px 12px
  
  hr
    :border none
    :border-bottom 1px solid rgba(0, 0, 0, 0.3)
  
  label
    +light-shadowed-text
    :font-size 11pt

  input, select
    :outline none
  
  input[type=checkbox]
    :height 14px
    :margin-right 6px

  input[type=text]
    :border 1px solid #999
    :color #fff
    :background rgba(0, 0, 0, 0.6)
    :padding 4px 3px
    :font-size 12px

#canvas
  +frame
  :margin 10px 10px 50px 10px

#toolbar
  +frame("auto")
  :height 20px
  :background-color #dee4ea
  :border-top 1px solid #999
  :z-index 101
  :padding 10px
  
  button 
    :margin 0 6px
    :float right

  input[type=range].scale
    :float left
    :-webkit-appearance slider-horizontal
    :width 150px

#selector
  +rounded(8px)
  :position fixed
  :width 100px
  :height 100px
  :border 4px solid #f80
  :margin -4px
  :z-index 99
  :background rgba(255, 255, 255, 0.2)

#remove_button
  :background url(../images/remove-button.png)
  :position fixed
  :width 30px
  :height 30px
  &:active
    :background url(../images/remove-button-pressed.png)

#duplicate_button
  :background url(../images/duplicate-button.png)
  :position fixed
  :width 30px
  :height 30px
  &:active
    :background url(../images/duplicate-button-pressed.png)


/* iPhone Elements */  

#canvas
  .application
    :white-space nowrap

  .window-set 
    :white-space nowrap
    > .title
      :color #333
      :margin 20px 30px 2px 30px
      :text-shadow 0px 2px 6px rgba(0, 0, 0, 0.3)
      :clear both
      :font-weight bold
      :font-size 150%
      :font "Lucida Grande"

  .window
    +box-shadow(3px, 20px, 0, 0.5)
    +rect
    :overflow none
    :background #eee
    :float left
    :margin 20px
    :white-space word-wrap

  .text-view
    :overflow hidden
    :background white
    .lorem
      .title
        :font-size 14pt
        :font-weight bold
        :margin 0 0 5px 0
      :background white
      :padding 9px
      :text-align left
      :color #000
      :font-size 12pt
      :white-space normal

  .text-view.rounded
    :background url(../images/grouped-table-bg.png)
    .lorem
      +rounded
      :border 1px solid rgba(30, 60, 120, 0.6)
      :margin 6px

  .navigation-bar
    :border-bottom 1px solid #2d3642

  .navigation-bar, .toolbar
    +shiney-background-gradient(#b0bccd, #879bb4, #7f95b0, #6d84a2)
    +light-bezeled-text
    height: 42px
    line-height: 42px
    border-top: 1px solid #cdd5df

  .status-bar
    +background-gradient(#f2f8fa, #c9d0d3)
    +dark-bezeled-text
    :border-bottom 1px solid #2d3642
    :height 19px
    :line-height 17px
    :font-weight bold
    :font-size 12px
    :padding 0px 6px

    .network
      :float left
      :padding 2px 0 0 0
    .time
      :margin 0 60px
      :padding 2px 0 0 0
    .battery
      :float right
      :padding 2px 0 0 0

  .navigation-bar > .title
    margin: 0 90px
  
  .navigation-bar > .edit
    :float right

  .navigation-bar > .back
    :float left

  .content-view
    :border-bottom 1px solid #2d3642

  .toolbar
    height: 42px
    padding: 0 8px

  .keyboard
    background: url(../images/keyboard.png)
    width: 320px
    height: 215px

  /* Toolbar Button */

  .toolbar-button
    :height 27px
    :line-height 27px
    :padding 0 6px
    :float left
    
  .bordered-button, .done-button
    +rounded(4px)
    +box-bezel
    +light-bezeled-text
    :margin 6px
    :padding 0 8px
    :min-width 30px
    :font-size 13px

  .bordered-button
    +shiney-background-gradient

  .done-button
    +shiney-background-gradient(#7b9eea, #376fe0, #2260dd, #2463de)

  .plain-button
    :font-size 24px
    :padding 0 10px
    :font-weight bold
    :margin 7px
    :min-width 12px

  .back-button
    :height 32px
    :line-height 30px
    :font-size 14px
    :margin 5px
    :-webkit-border-image url(../images/back-button-bg.png) 0 7 0 14 stretch stretch
    :border-width 0 7px 0 14px

  /* Scope Bar Stuff */

  .scope-bar
    +background-gradient(#c0c9cf, #aab7bf)
    :height 42px
    :padding 0 8px
    :border-top 1px solid #cdd4d9
    :border-bottom 1px solid #8092a0

  .scope-bar-button
    +box-bezel(rgba(60, 75, 100, 0.6))
    :border-right-style none
    :height 27px
    :line-height 27px
    :font-size 13px
    :font-weight bold
    :min-width 30px
    :display inline-block
    :margin 6px 0
    > .title
      :padding 0 8px

  .scope-bar-button.unselected
    +background-gradient(#f2f8fa, #c9d0d3)
    +dark-bezeled-text(#3f5c84, rgba(255, 255, 255, 0.6))
  
  .scope-bar-button.selected
    +background-gradient(#8b9bb0, #657a95)
    +light-bezeled-text(#fff, rgba(64, 64, 64, 0.4))

  .scope-bar-button.first
    +rounded-left(5px)

  .scope-bar-button.last
    +rounded-right(5px)
    :border-right-style solid

  /* Table Stuff */

  .table-view-search
    height: 42px
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e4e7), to(#b4bec6))
    border-top: 1px solid #f1f3f4
    border-bottom: 1px solid #717d85
    input
      margin: 9px
      font-size: 18px
      width: 300px

  .table-view
    overflow: hidden
    
    .table-view-cell
      :min-height 43px
      :background #fff
      
      .right
        :font-size 14pt
        :font-weight normal
        :line-height 43px
        :float right
        :color #aaa !important

    .table-view-cell.simple
      :font-weight bold
      :padding 0 18px
      :font-size 14pt
      :line-height 43px
      .content
        :display none

    .table-view-cell.complex
      :font-weight bold
      :padding 3px 18px 0 18px
      :font-size 13pt
      :line-height 20px
      .content
        :color #666
        :font-size 11pt
        :font-weight normal

    .table-view-cell.disclosure
      .disclosure
        width: 13px
        height: 19px
        margin: 13px 0px 10px 6px
        float: right
        background: url(../images/disclosure.png)

  /* Plain Table */

  .table-view.plain-table
    background: url(../images/table-bg.png)

    .table-view-group
      +box-shadow(2px, 4px, 0, 0.3)

    .table-view-header, .table-view-footer
      +background-gradient(#909faa, #b8c1c8)
      color: #fff
      padding-left: 20px
      text-shadow: 0px 1px 0px #555
      border-top: 1px solid #a5b1ba
      border-bottom: 1px solid #989ea4
      line-height: 20px
      font-weight: normal
      height: 20px
      font-size: 17px

    .table-view-cell
      :border-bottom 1px solid #ddd
    
    .table-view-cell.last
      :border-bottom 1px solid #999 !important

  /* Grouped Table */

  .table-view.grouped-table
    :background url(../images/grouped-table-bg.png)

    .table-view-header, .table-view-footer
      margin-top: 7px
      color: #4c566c
      padding-left: 20px
      text-shadow: 0px 1px 0px #eee
      line-height: 25px
      font-weight: normal
      height: 25px
      font-size: 18px

    .table-view-group > .table-view-cell.first
      +rounded-top
      :margin-top 7px
      :border-top 1px solid #aaa

    .table-view-group > .table-view-cell.last
      +rounded-bottom
      :margin-bottom 7px

    .table-view-cell
      margin-left: 10px
      margin-right: 10px
      border-bottom: 1px solid #aaa
      border-left: 1px solid #aaa
      border-right: 1px solid #aaa

  /* Tab Bar */

  .tab-bar
    +shiney-background-gradient(#2e2e2e, #151515, #000000, #000000)
    :height 48px
    :border-top 1px solid #434343
  
  .tab-bar-button 
    +light-bezeled-text(#aaa, rgba(0, 0, 0, 0.8))
    :font-size 10px
    :font-weight normal
    :display inline-block

    .icon
      :display inline-block
      :height 32px
      :width 32px
      :background-repeat no-repeat
      :background-position 50% 50%

    &.add > .icon
      :background-image url(../images/icon-add.png)

    &.book > .icon
      :background-image url(../images/icon-book.png)

    &.bookmark > .icon
      :background-image url(../images/icon-bookmark.png)

    &.clock > .icon
      :background-image url(../images/icon-clock.png)

    &.inbox > .icon
      :background-image url(../images/icon-inbox.png)
    
    &.palette > .icon
      :background-image url(../images/icon-palette.png)

    &.search > .icon
      :background-image url(../images/icon-search.png)

    &.settings > .icon
      :background-image url(../images/icon-settings.png)

    &.star > .icon
      :background-image url(../images/icon-star.png)
