body {
  font-family: Helvetica;
  font-size: 14pt;
  font-weight: normal; }

div {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 130%; }

/* Interface styling */
#inspector, #canvas, #toolbar {
  position: fixed; }

#inspector {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-box-shadow: 0px 2px 6px rgba(32, 32, 32, 0.6);
  min-width: 120px;
  min-height: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  padding: 10px 12px 14px 12px; }
  #inspector hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8); }
  #inspector label {
    text-shadow: 0px -1px 2px rgba(0, 0, 0, 1.0);
    color: #fff;
    font-size: 11pt; }
  #inspector input, #inspector select {
    outline: none; }
  #inspector input[type=checkbox] {
    height: 14px;
    margin-right: 6px; }
  #inspector input[type=text] {
    border: 1px solid #999;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 4px 3px;
    font-size: 12px; }

#canvas {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 10px 10px 50px 10px; }

#toolbar {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  background-color: #dee4ea;
  border-top: 1px solid #999;
  z-index: 101;
  padding: 10px; }
  #toolbar button {
    margin: 0 6px;
    float: right; }
  #toolbar input[type=range].scale {
    float: left;
    -webkit-appearance: slider-horizontal;
    width: 150px; }

#selector {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  position: fixed;
  width: 100px;
  height: 100px;
  border: 4px solid #f80;
  margin: -4px;
  z-index: 99;
  background: rgba(255, 255, 255, 0.2); }

#remove_button {
  background: url(../images/remove-button.png);
  position: fixed;
  width: 30px;
  height: 30px; }
  #remove_button:active {
    background: url(../images/remove-button-pressed.png); }

#duplicate_button {
  background: url(../images/duplicate-button.png);
  position: fixed;
  width: 30px;
  height: 30px; }
  #duplicate_button:active {
    background: url(../images/duplicate-button-pressed.png); }

/* iPhone Elements */
#canvas {
  /* Toolbar Button */
  /* Scope Bar Stuff */
  /* Table Stuff */
  /* Plain Table */
  /* Grouped Table */
  /* Tab Bar */ }
  #canvas .application {
    position: fixed;
    left: 200px;
    top: 30px;
    white-space: nowrap; }
  #canvas .window-set {
    min-width: 720px;
    white-space: nowrap; }
    #canvas .window-set > .title {
      color: #333;
      margin: 20px 30px 2px 30px;
      text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
      clear: both;
      font-weight: bold;
      font-size: 150%;
      font: "Lucida Grande"; }
  #canvas .window {
    -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);
    width: 320px;
    height: 480px;
    overflow: none;
    background: #eee;
    float: left;
    margin: 20px; }
  #canvas .navigation-bar {
    border-bottom: 1px solid #2d3642; }
  #canvas .navigation-bar, #canvas .toolbar {
    background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#b0bccd), to(#6d84a2), color-stop( 0.5, #879bb4 ), color-stop( 0.5, #7f95b0 ) );
    text-shadow: 0px -1px 0px #555555;
    color: white;
    text-align: center;
    height: 42px;
    line-height: 42px;
    border-top: 1px solid #cdd5df; }
  #canvas .status-bar {
    background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#f2f8fa), to(#c9d0d3) );
    text-shadow: 0px 1px 0px white;
    color: #333333;
    text-align: center;
    border-bottom: 1px solid #2d3642;
    height: 19px;
    line-height: 17px;
    font-weight: bold;
    font-size: 12px;
    padding: 0px 6px; }
    #canvas .status-bar .network {
      float: left;
      padding: 2px 0 0 0; }
    #canvas .status-bar .time {
      margin: 0 60px;
      padding: 2px 0 0 0; }
    #canvas .status-bar .battery {
      float: right;
      padding: 2px 0 0 0; }
  #canvas .navigation-bar > .title {
    margin: 0 90px; }
  #canvas .navigation-bar > .edit {
    float: right; }
  #canvas .navigation-bar > .back {
    float: left; }
  #canvas .content-view {
    border-bottom: 1px solid #2d3642; }
  #canvas .toolbar {
    height: 42px;
    padding: 0 8px; }
  #canvas .keyboard {
    background: url(../images/keyboard.png);
    width: 320px;
    height: 215px; }
  #canvas .toolbar-button {
    height: 27px;
    line-height: 27px;
    padding: 0 6px;
    float: left; }
  #canvas .bordered-button, #canvas .done-button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    text-shadow: 0px -1px 0px #555555;
    color: white;
    text-align: center;
    margin: 6px;
    padding: 0 8px;
    min-width: 30px;
    font-size: 13px; }
  #canvas .bordered-button {
    background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#8ea4c1), to(#4a6c9b), color-stop( 0.5, #5777a2 ), color-stop( 0.5, #476999 ) ); }
  #canvas .done-button {
    background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#7b9eea), to(#2463de), color-stop( 0.5, #376fe0 ), color-stop( 0.5, #2260dd ) ); }
  #canvas .plain-button {
    font-size: 24px;
    padding: 0 10px;
    font-weight: bold;
    margin: 7px;
    min-width: 12px; }
  #canvas .back-button {
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    margin: 5px;
    -webkit-border-image: url(../images/back-button-bg.png) 0 7 0 14 stretch stretch;
    border-width: 0 7px 0 14px; }
  #canvas .scope-bar {
    background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#c0c9cf), to(#aab7bf) );
    height: 42px;
    padding: 0 8px;
    border-top: 1px solid #cdd4d9;
    border-bottom: 1px solid #8092a0; }
  #canvas .scope-bar-button {
    border: 1px solid rgba(60, 75, 100, 0.6);
    -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    border-right-style: none;
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    font-weight: bold;
    min-width: 30px;
    display: inline-block;
    margin: 6px 0; }
    #canvas .scope-bar-button > .title {
      padding: 0 8px; }
  #canvas .scope-bar-button.unselected {
    background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#f2f8fa), to(#c9d0d3) );
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
    color: #3f5c84;
    text-align: center; }
  #canvas .scope-bar-button.selected {
    background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#8b9bb0), to(#657a95) );
    text-shadow: 0px -1px 0px rgba(64, 64, 64, 0.4);
    color: white;
    text-align: center; }
  #canvas .scope-bar-button.first {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px; }
  #canvas .scope-bar-button.last {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-right-style: solid; }
  #canvas .table-view-search {
    height: 42px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e4e7), to(#b4bec6));
    border-top: 1px solid #f1f3f4;
    border-bottom: 1px solid #717d85; }
    #canvas .table-view-search input {
      margin: 9px;
      font-size: 18px;
      width: 300px; }
  #canvas .table-view {
    overflow: hidden; }
    #canvas .table-view .table-view-cell {
      min-height: 43px;
      background: #fff; }
      #canvas .table-view .table-view-cell .right {
        font-size: 14pt;
        font-weight: normal;
        line-height: 43px;
        float: right;
        color: #aaa !important; }
    #canvas .table-view .table-view-cell.simple {
      font-weight: bold;
      padding: 0 18px;
      font-size: 14pt;
      line-height: 43px; }
      #canvas .table-view .table-view-cell.simple .content {
        display: none; }
    #canvas .table-view .table-view-cell.complex {
      font-weight: bold;
      padding: 3px 18px 0 18px;
      font-size: 13pt;
      line-height: 20px; }
      #canvas .table-view .table-view-cell.complex .content {
        color: #666;
        font-size: 11pt;
        font-weight: normal; }
    #canvas .table-view .table-view-cell.disclosure .disclosure {
      width: 13px;
      height: 19px;
      margin: 13px 0px 10px 6px;
      float: right;
      background: url(../images/disclosure.png); }
  #canvas .table-view.plain-table {
    background: url(../images/table-bg.png); }
    #canvas .table-view.plain-table .table-view-group {
      -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); }
    #canvas .table-view.plain-table .table-view-header, #canvas .table-view.plain-table .table-view-footer {
      background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#909faa), to(#b8c1c8) );
      color: #fff;
      padding-left: 20px;
      text-shadow: 0px 1px 0px #555;
      border-top: 1px solid #a5b1ba;
      border-bottom: 1px solid #989ea4;
      line-height: 20px;
      font-weight: normal;
      height: 20px;
      font-size: 17px; }
    #canvas .table-view.plain-table .table-view-cell {
      border-bottom: 1px solid #ddd; }
    #canvas .table-view.plain-table .table-view-cell.last {
      border-bottom: 1px solid #999 !important; }
  #canvas .table-view.grouped-table {
    background: url(../images/grouped-table-bg.png); }
    #canvas .table-view.grouped-table .table-view-header, #canvas .table-view.grouped-table .table-view-footer {
      margin-top: 7px;
      color: #4c566c;
      padding-left: 20px;
      text-shadow: 0px 1px 0px #eee;
      line-height: 25px;
      font-weight: normal;
      height: 25px;
      font-size: 18px; }
    #canvas .table-view.grouped-table .table-view-group > .table-view-cell.first {
      -webkit-border-top-left-radius: 14px;
      -webkit-border-top-right-radius: 14px;
      margin-top: 7px;
      border-top: 1px solid #aaa; }
    #canvas .table-view.grouped-table .table-view-group > .table-view-cell.last {
      -webkit-border-bottom-left-radius: 14px;
      -webkit-border-bottom-right-radius: 14px;
      margin-bottom: 7px; }
    #canvas .table-view.grouped-table .table-view-cell {
      margin-left: 10px;
      margin-right: 10px;
      border-bottom: 1px solid #aaa;
      border-left: 1px solid #aaa;
      border-right: 1px solid #aaa; }
  #canvas .tab-bar {
    background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#2e2e2e), to(black), color-stop( 0.5, #151515 ), color-stop( 0.5, black ) );
    height: 48px;
    border-top: 1px solid #434343; }
  #canvas .tab-bar-button {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    display: inline-block; }
    #canvas .tab-bar-button .icon {
      display: inline-block;
      height: 32px;
      width: 32px;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    #canvas .tab-bar-button.add > .icon {
      background-image: url(../images/icon-add.png); }
    #canvas .tab-bar-button.book > .icon {
      background-image: url(../images/icon-book.png); }
    #canvas .tab-bar-button.bookmark > .icon {
      background-image: url(../images/icon-bookmark.png); }
    #canvas .tab-bar-button.clock > .icon {
      background-image: url(../images/icon-clock.png); }
    #canvas .tab-bar-button.inbox > .icon {
      background-image: url(../images/icon-inbox.png); }
    #canvas .tab-bar-button.palette > .icon {
      background-image: url(../images/icon-palette.png); }
    #canvas .tab-bar-button.search > .icon {
      background-image: url(../images/icon-search.png); }
    #canvas .tab-bar-button.settings > .icon {
      background-image: url(../images/icon-settings.png); }
    #canvas .tab-bar-button.star > .icon {
      background-image: url(../images/icon-star.png); }
