=rounded(!radius = 8px)
  :-webkit-border-radius = !radius
  :-moz-border-radius = !radius

=box-shadow(!distance = 1px, !radius = 5px, !color = 32, !alpha = 0.6)
  :-webkit-box-shadow = 0px !distance !radius rgba(!color, !color, !color, !alpha)

=box-bezel
  :border 1px solid rgba(0, 0, 0, 0.4)
  :-webkit-box-shadow = 0px 1px 1px rgba(255, 255, 255, 0.4)

=background-gradient(!from = #b0bccd, !to = #6d84a2)
  :background = "-webkit-gradient(""linear", 0% 0%, 0% 100%, from(!from), to(!to)")"

=shiney-background-gradient(!from = #8ea4c1, !shine = #5777a2, !base = #476999, !to = #4a6c9b)
  :background = "-webkit-gradient(""linear", 0% 0%, 0% 100%, from(!from), to(!to), "color-stop("0.5, !shine")", "color-stop("0.5, !base")"")"

=light-shadowed-text
  :text-shadow 0px -1px 2px rgba(0, 0, 0, 1.0)
  :color #fff

=light-bezeled-text
  :text-shadow 0px -1px 0px #555
  :color #fff
  :text-align center

=dark-bezeled-text
  :text-shadow 0px 1px 0px #fff
  :color #333
  :text-align center

=min-rect(!width = 120px, !height = 160px)
  :min-width = !width
  :min-height = !height

=rect(!width = 320px, !height = 480px)
  :width = !width
  :height = !height

=frame(!top = 0, !right = 0, !bottom = 0, !left = 0)
  :top = !top
  :right = !right
  :bottom = !bottom
  :left = !left

body
  font-family: Helvetica
  font-size: 14pt
  font-weight: normal


div
  padding: 0
  margin: 0


h1
  font-size: 130%

/* Interface styling */


#inspector, #canvas, #toolbar
  :position fixed

#inspector
  +rounded(12px)
  +box-shadow(2px, 6px)
  +min-rect(120px, 20px)
  :background-color rgba(0, 0, 0, 0.7)
  :z-index 100
  
  :padding 10px 12px 16px 12px
  
  label
    +light-shadowed-text
    :font-size 11pt

  input
    :outline none
  
  input[type=checkbox]
    :height 14px
    :margin-right 6px

  input[type=text]
    :border 1px solid #999
    :color #fff
    :background rgba(0, 0, 0, 0.6)
    :padding 4px 3px
    :font-size 12px

#canvas
  +frame
  :margin 10px 10px 50px 10px

#toolbar
  +frame("auto")
  :height 20px
  :background-color #dee4ea
  :border-top 1px solid #999
  :z-index 101
  :padding 10px

  input[type=range].scale
    :float left
    :-webkit-appearance slider-horizontal
    :width 150px

  button.add-screen
    :float right

#selector
  +rounded(8px)
  :position fixed
  :width 100px
  :height 100px
  :border 4px solid #f80
  :margin -4px
  :z-index 99

/* iPhone Elements */  

#canvas
  #application
    :position fixed
    :left 200px
    :top 30px
    :border 1px dashed #888
  
  .window-set
    h1
      :font-size 150%

  .window
    +box-shadow(3px, 20px, 0, 0.5)
    +rect
    :overflow none
    :background #eee
    :float left
    :margin 20px

  .navigation-bar, .content
    :border-bottom 1px solid #2d3642

  .navigation-bar, .toolbar
    +background-gradient
    +light-bezeled-text
    height: 42px
    line-height: 42px
    border-top: 1px solid #cdd5df

  .status-bar
    +background-gradient(#eff6f9, #bdc5c9)
    +dark-bezeled-text
    :border-bottom 1px solid #2d3642
    :height 19px
    :line-height 21px
    :font-weight bold
    :font-size 12px
    :padding 0 6px

    .network
      :float left
    .time
      :margin 0 60px
    .battery
      :float right

  .navigation-bar > .title
    margin: 0 90px
  
  .navigation-bar > .edit
    :float right

  .navigation-bar > .back
    :float left

  .content-view
    :border-bottom 1px solid #2d3642

  .toolbar
    height: 42px
    bottom: 0
    padding: 0 8px

  .keyboard
    background: url(../images/keyboard.png)
    width: 320px
    height: 215px

  /* Buttons */

  .toolbar-button
    +shiney-background-gradient
    +rounded(4px)
    +box-bezel
    +light-bezeled-text
    :min-width 30px
    :font-size 14px
    :height 27px
    :line-height 27px
    :margin 6px
    :padding 0 6px
    :float left

  .borderless-button
    font-size: 24px
    padding: 0 12px
    font-weight: bold


  .back-button
    -webkit-border-image: url(../images/back-button-bg.png) 0 7 0 14 stretch stretch
    border-width: 0 7px 0 14px

  /* Table stuff */

  .disclosure
    width: 13px
    height: 19px
    margin: 13px 0px 10px 6px
    float: right
    background: url(../images/disclosure.png)

  .table-view-search
    height: 42px
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e4e7), to(#b4bec6))
    border-top: 1px solid #f1f3f4
    border-bottom: 1px solid #717d85
  
    input
      margin: 9px
      font-size: 18px
      width: 300px

  .grouped-table-cell, .table-cell
    height: 43px
    background: #fff
    font-weight: bold
    line-height: 43px
    padding: 0 18px
    font-size: 18px


  .grouped-table-view
    background: url(../images/grouped-table-bg.png)
    padding-top: 1px


  .grouped-table-header
    margin-top: 7px
    color: #4c566c
    padding-left: 20px
    text-shadow: 0px 1px 0px #eee
    line-height: 25px
    font-weight: normal
    height: 25px
    font-size: 18px


  .first-grouped-table-cell
    margin-top: 7px
    -webkit-border-top-left-radius: 14px
    -webkit-border-top-right-radius: 14px
    border-top: 1px solid #aaa


  .last-grouped-table-cell
    margin-bottom: 14px
    -webkit-border-bottom-left-radius: 14px
    -webkit-border-bottom-right-radius: 14px


  .grouped-table-cell
    margin-left: 10px
    margin-right: 10px
    border-bottom: 1px solid #aaa
    border-left: 1px solid #aaa
    border-right: 1px solid #aaa


  .table-view
    background: url(../images/table-bg.png)
    overflow: none

  .table-header
    color: #fff
    padding-left: 20px
    text-shadow: 0px 1px 0px #555
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#909faa), to(#b8c1c8))
    border-top: 1px solid #a5b1ba
    border-bottom: 1px solid #989ea4
    line-height: 20px
    font-weight: normal
    height: 20px
    font-size: 17px


  .table-cell
    border-bottom: 1px solid #ddd
    -webkit-box-shadow: 0px 2px 3px rgba(32, 32, 32, 0.4)
