body {
  font-family: Helvetica;
  font-size: 14pt;
  font-weight: normal; }

div {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 130%; }

/* Interface styling */
#inspector, #canvas, #toolbar {
  position: fixed; }

#inspector {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-box-shadow: 0px 2px 6px rgba(32, 32, 32, 0.6);
  min-width: 120px;
  min-height: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  padding: 10px 12px 14px 12px; }
  #inspector label {
    text-shadow: 0px -1px 2px rgba(0, 0, 0, 1.0);
    color: #fff;
    font-size: 11pt; }
  #inspector input, #inspector select {
    outline: none; }
  #inspector input[type=checkbox] {
    height: 14px;
    margin-right: 6px; }
  #inspector input[type=text] {
    border: 1px solid #999;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 4px 3px;
    font-size: 12px; }

#canvas {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 10px 10px 50px 10px; }

#toolbar {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  background-color: #dee4ea;
  border-top: 1px solid #999;
  z-index: 101;
  padding: 10px; }
  #toolbar input[type=range].scale {
    float: left;
    -webkit-appearance: slider-horizontal;
    width: 150px; }
  #toolbar button.add-screen {
    float: right; }

#selector {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  position: fixed;
  width: 100px;
  height: 100px;
  border: 4px solid #f80;
  margin: -4px;
  z-index: 99;
  background: rgba(255, 255, 255, 0.2); }

/* iPhone Elements */
#canvas {
  /* Toolbar Button */
  /* Table Stuff */
  /* Old Table stuff */ }
  #canvas #application {
    position: fixed;
    white-space: nowrap;
    left: 200px;
    top: 30px;
    border: 1px dashed #888; }
  #canvas .window-set h1 {
    font-size: 150%; }
  #canvas .window {
    -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);
    width: 320px;
    height: 480px;
    overflow: none;
    background: #eee;
    float: left;
    margin: 20px; }
  #canvas .navigation-bar, #canvas .content {
    border-bottom: 1px solid #2d3642; }
  #canvas .navigation-bar, #canvas .toolbar {
    background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#b0bccd), to(#6d84a2) );
    text-shadow: 0px -1px 0px #555;
    color: #fff;
    text-align: center;
    height: 42px;
    line-height: 42px;
    border-top: 1px solid #cdd5df; }
  #canvas .status-bar {
    background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#f2f8fa), to(#c9d0d3) );
    text-shadow: 0px 1px 0px #fff;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #2d3642;
    height: 19px;
    line-height: 21px;
    font-weight: bold;
    font-size: 12px;
    padding: 0 6px; }
    #canvas .status-bar .network {
      float: left; }
    #canvas .status-bar .time {
      margin: 0 60px; }
    #canvas .status-bar .battery {
      float: right; }
  #canvas .navigation-bar > .title {
    margin: 0 90px; }
  #canvas .navigation-bar > .edit {
    float: right; }
  #canvas .navigation-bar > .back {
    float: left; }
  #canvas .content-view {
    border-bottom: 1px solid #2d3642; }
  #canvas .toolbar {
    height: 42px;
    bottom: 0;
    padding: 0 8px; }
  #canvas .keyboard {
    background: url(../images/keyboard.png);
    width: 320px;
    height: 215px; }
  #canvas .toolbar-button {
    height: 27px;
    line-height: 27px;
    padding: 0 6px;
    float: left; }
  #canvas .bordered-button, #canvas .done-button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    text-shadow: 0px -1px 0px #555;
    color: #fff;
    text-align: center;
    margin: 6px;
    min-width: 30px;
    font-size: 14px; }
  #canvas .bordered-button {
    background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#8ea4c1), to(#4a6c9b), color-stop( 0.5, #5777a2 ), color-stop( 0.5, #476999 ) ); }
  #canvas .done-button {
    background: -webkit-gradient( linear, 0% 0%, 0% 100%, from(#7b9eea), to(#2463de), color-stop( 0.5, #376fe0 ), color-stop( 0.5, #2260dd ) ); }
  #canvas .plain-button {
    font-size: 24px;
    padding: 0 10px;
    font-weight: bold;
    margin: 7px;
    min-width: 12px; }
  #canvas .back-button {
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    margin: 5px;
    -webkit-border-image: url(../images/back-button-bg.png) 0 7 0 14 stretch stretch;
    border-width: 0 7px 0 14px; }
  #canvas .table-view {
    background: url(../images/table-bg.png);
    overflow: none; }
  #canvas .table-view-search {
    height: 42px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e4e7), to(#b4bec6));
    border-top: 1px solid #f1f3f4;
    border-bottom: 1px solid #717d85; }
    #canvas .table-view-search input {
      margin: 9px;
      font-size: 18px;
      width: 300px; }
  #canvas .table-view-group {
    -webkit-box-shadow: 0px 2px 3px rgba(32, 32, 32, 0.4); }
  #canvas .table-view-header, #canvas .table-view-footer {
    color: #fff;
    padding-left: 20px;
    text-shadow: 0px 1px 0px #555;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#909faa), to(#b8c1c8));
    border-top: 1px solid #a5b1ba;
    border-bottom: 1px solid #989ea4;
    line-height: 20px;
    font-weight: normal;
    height: 20px;
    font-size: 17px;
    margin-bottom: 4px; }
  #canvas .table-view-cell {
    border-bottom: 1px solid #ddd;
    height: 43px;
    background: #fff;
    font-weight: bold;
    line-height: 43px;
    padding: 0 18px;
    font-size: 18px; }
  #canvas .disclosure {
    width: 13px;
    height: 19px;
    margin: 13px 0px 10px 6px;
    float: right;
    background: url(../images/disclosure.png); }
  #canvas .grouped-table-view {
    background: url(../images/grouped-table-bg.png);
    padding-top: 1px; }
  #canvas .grouped-table-header {
    margin-top: 7px;
    color: #4c566c;
    padding-left: 20px;
    text-shadow: 0px 1px 0px #eee;
    line-height: 25px;
    font-weight: normal;
    height: 25px;
    font-size: 18px; }
  #canvas .first-grouped-table-cell {
    margin-top: 7px;
    -webkit-border-top-left-radius: 14px;
    -webkit-border-top-right-radius: 14px;
    border-top: 1px solid #aaa; }
  #canvas .last-grouped-table-cell {
    margin-bottom: 14px;
    -webkit-border-bottom-left-radius: 14px;
    -webkit-border-bottom-right-radius: 14px; }
  #canvas .grouped-table-cell {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa; }
